*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
height: 100vh;
width: 100vw;
padding: 6px;
}
section{
        height:650px;
        width: 900px;
        margin: auto;
        padding: 20px;
        display: flex;
        position: relative;
}
[alt="Home"]{
    height: 650px;
    width: 450px;
    position: absolute;
    top:20px;
}
.animation_div{
    height: 547px;
    width: 250px;
    position: absolute;
    left: 168px;
    top:50px;
    animation-name: animation_div;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes animation_div{
    0%{
        background-image: url(screenshot1.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    25%{
        background-image: url(screenshot2.png);
        background-repeat: no-repeat;
        background-size: cover;
    }   
     50%{
        background-image: url(screenshot3.png);
        background-repeat: no-repeat;
        background-size: cover;
    }  
    100%{
        background-image: url(screenshot4.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.second{
    height: 400px;
    width:350px;
    border: 1px solid black;
    position:relative;
    left: 450px;
    top: 30px;
}
.h1{
    font-size: 30px;
    font-style: italic;
    position:absolute;
    left: 100px;
    top: 35px;
}
.input1{
    height: 35px;
    width: 300px;
    position:absolute;
    left: 30px;
    top: 100px;
    border-radius: 5px 5px 5px 5px;
}
.input2{
    height: 35px;
    width: 300px;
    position:absolute;
    left: 30px;
    top: 150px;
    border-radius: 5px 5px 5px 5px;
}
button{
    height: 30px;
    width: 300px;
    font-weight: bold;
    position:absolute;
    left: 30px;
    top: 200px;
    background-color: rgb(125, 237, 243);
    border-radius: 20px 20px 20px 20px;
}
.line{
    position:absolute;
    left: 75px;
    top: 260px;
}
.link{
    width: 200px;
    position:absolute;
    left: 82px;
    top: 310px;
}
[alt="icon"]{
     width: 25px;
     height: 25px;
}
.link{
    font-size: 20px;
    text-decoration: none;
}
.link1{
    position:absolute;
    left: 110px;
    top: 360px;
    text-decoration: none;
}
.third{
    height: 70px;
    width: 350px;
    border: 1px solid black;
    position: absolute;
    left: 470px;
    top: 460px;
}
.Signin{
    text-align: center;
    justify-content: center;
    padding: 20px;
}
.app{
    font-size: 15px;
    position: absolute;
    left: 140px;
    top: 80px;
}
[alt="Playstore1"]{
    height: 50px;
    width: 150px;
    position: absolute;
    top:115px;
}
[alt="Playstore2"]{
    height: 50px;
    width: 150px;
    position: absolute;
    top:115px;
    left: 160px;
}